@charset "UTF-8";

body{
    font-family: Arial, serif, sans-serif;
    background-image:linear-gradient(to top,#58417b  );
}

h1{
    color: rgb(101, 22, 22);
}
h1#principal{
    text-align: center;
    background-color: rgb(176, 103, 1);
    padding: 12px;
    border-radius: 10px;
      font-size: 250%;
      box-shadow: 10px 12px 11px;
}
h2{
    color: rgb(23, 23, 88);
     font-size: xx-large;
     text-align: center;
    background-color: rgb(4, 66, 31);
     border-radius: 10px;
    padding: 12px;
    box-shadow: 10px 12px 11px;
     
}
h3{
    color: rgb(111, 69, 6);
     font-size: x-large;
    
}
p{
    font-size: large;
     text-indent: 20px;
     color: rgb(0, 150, 150);

}
p#especial{
    color: white;
     font-size: large;
}
.diferente{
    font-style: italic;
    font-weight: bolder;
}
.font{
      text-align: center;
    border-radius: 10px;
    background-color: rgb(71, 8, 8);
}

